/*---------------
Import Font
----------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/********************************
 Body Section Style 
 ********************************/

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/********************************
 Top Banner Section Style 
 ********************************/
.container {
  margin-bottom: 70px;
}
.top-banner {
  transition: background-color 0.5s ease;
  background-color: darkblue;
}
.top-banner:hover a {
  background-color: royalblue;
}
.top-banner {
  display: flex;
}
.top-text-margin {
  margin-top: 140px;
  margin-left: 147px;
}
.half-width {
  width: 50%;
}
.half-width h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
}
.btn {
  margin-top: 53px;
}
.btn a {
  text-decoration: none;
  color: white;
  background-color: #e02c6d;
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 500;
}

.btn .arrow i {
  font-size: 15px;
  color: #ffffff;
  margin-left: 5px;
}
.half-width img {
  width: 556.01px;
  height: 438px;
  margin-top: 110px;
  padding-bottom: 85px;
}

/********************************
 Blog Section Style 
 ********************************/

.blogs {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
  margin-left: 220px;
}

.blog {
  width: 330px;
  height: 474px;
  box-shadow: 3px 0px 25px rgb(232 218 218);
  border: 1px solid white;
  margin-bottom: 25px;
}
.blog-item img {
  width: 300px;
  height: 256px;
  margin-top: 10px;
}
.blog-item {
  margin-left: 14px;
}

.blog-item h1 {
  font-size: 28px;
  font-weight: 700;
  color: #18191f;
  line-height: 26px;
}
.blog-item p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400px;
  color: #6c6c6c;
}

/******************************** 
top Player and top team Section 
********************************/

.top-team-section,
.top-player-section {
  background-color: white;
  border: 2px solid #dedeeb;
  box-shadow: 3px 0px 25px rgb(232 218 218);
  margin: 50px 220px;
}
.team-list,
.players-list {
  display: flex;
}
.top-team-head,
.top-player-head {
  text-align: center;
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 700;
  color: #18191f;
  padding-top: 50px;
}
.top-team-list {
  width: 50%;
  padding-left: 22%;
  color: #18191f;
  font-size: 25px;
}

.top-players-list {
  width: 50%;
  padding-left: 22%;
  color: #18191f;
  font-size: 25px;
}
.top-team-list ul li {
  list-style-type: none;
}
.top-players-list ul li {
  list-style-type: none;
}
.team-scoreboard {
  width: 50%;
  font-size: 25px;
  color: #18191f;
}
.team-scoreboard ul li {
  list-style-type: none;
}
.top-goal {
  width: 50%;
  font-size: 25px;
  color: #18191f;
}
.top-goal ul li {
  list-style-type: none;
}
/******************************** 
Footer Style 
*********************************/
.logo-and-social-icon {
  margin-top: 130px;
}

.logo {
  display: flex;
  justify-content: center;
}
.logo img {
  width: 483px;
  height: 110px;
  margin-bottom: 20px;
}
.social-icon {
  display: flex;
  justify-content: center;
}
.social-icon a {
  width: 32px;
  height: 32px;
  background-color: #d3d5dc;
  color: #969bab;
  margin-left: 14px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  text-decoration: none;
}
.footer-text {
  display: flex;
  justify-content: center;
}
.footer-text p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
}

/***************************
 Media Queries
***************************/

/***************************
 Mobile Devices  
 ***************************/

@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }
  .top-banner {
    flex-direction: column;
  }
  .half-width h1 {
    /* grid-template-rows: repeat(1, 1fr); */
    line-height: 45px;
  }
  .half-width img {
    width: 400px;
  }
  .blogs {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 34px;
  }
  .logo img {
    width: 380px;
  }
}
